name: Deploy Next.js to cPanel via FTP

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload to cPanel via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.3
        with:
          server: ftp.wadaconnect.com
          username: github@arthavidhi.wadaconnect.com
          password: ${{ secrets.FTP_PASSWORD }}
          port: 21
          protocol: ftp
          local-dir: ./
          server-dir: ./
          exclude: |
            **/node_modules/**
            **/.git/**
            **/.github/**
            **/.next/**
            **/docs/**
            **/*.md
            **/*.log
